.text-body-intro {
    color: #023047;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.app-title-image {
    width: 95%;
}

.pre-title-text,
.mini-text {
    font-size: 1em;
    color: #023047;
}
.mini-text{
    font-style: italic;
}

.splash {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    justify-content: space-between;
}

.screen-button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.screen-button-button {
    background-color: #d4a373; 
    border: 2px solid #000000;
    color: #023047;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 3em;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.screen-button-button:hover {
    background-color: #a5a7ee;
    transition: all 0.rgb(124, 128, 232)e;
    color: #2b3036;
}