.text-body-intro {
    padding-top: 2.4rem;
    color:#d1d1d1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.app-title-image {
    width: 95%;
}

.pre-title-text{
    padding-bottom: 0.9rem;
}

.pre-title-text,
.mini-text {
    font-size: 1.4rem;
    color: #b0b0b0;
}

.splash {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.screen-button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 45%;
    gap: 10px;
}

.screen-button-button {
    background-color: #d1d1d1;
    border: 2px solid #000000;
    color: rgb(38, 26, 26);
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen-button-button:hover {
    background-color: #a5a7ee;
    transition: all 0.rgb(124, 128, 232)e;
    color: #2b3036;
}