.home{
    height: 100vh;
}
.visit-map {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.visit-map-button {
    border: 2px solid #000000;
    background-color: #fefae0;
    color: black;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Ubuntu';
}

.buttonTextMap  {
    vertical-align:super;
}

.globeIcon {
    width: 20%;
}
.parking-watch-list{
    width: 100%;
    height: 50vh;
    display: flex;
    padding: 3vw;
    box-sizing: border-box;
    overflow: hidden;
}
.scroller{
    min-width: 100%;
    display: flex;
    width: fit-content;
    overflow: scroll;
    height: fit-content;
}
