.bookmark-container{
    min-height: 35vh;
    min-width: 35vw;
    background-color: #CCD5AE;
}

.bookmark-details{
    background-color: #A7ABDD;
}

.bookmark-details .location {
    font-weight: 750;
}